/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 13, 2018, 11:32:47 PM
    Author     : eduar
*/
ul li{
    
    padding-right: 50px; 
    margin: 10px;
}

ul li form{
    
    padding-left: 50px;
    margin-right: 10px;
}

nav{
    height: 80px;
    
}




