/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 13, 2018, 11:41:56 PM
    Author     : eduar
*/
form{ 
    padding: 100px;
    margin: 100px;
    
}

