<html xmlns="http://www.w3.org/1999/xhtml"      
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" 
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:f ="http://java.sun.com/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">    
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
        <link rel="stylesheet" type="text/css" href="resources/css/styles.css"/>
        <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'/> 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/> 
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    </head>    
    <ui:include src="navBar_admin.xhtml"></ui:include>    
    <body class="hm-gradient">
        <main>
            
            <!--MDB Buttons-->
            <div class="container text-center mt-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <button type="button" class="btn btn-indigo btn-lg btn-block mb-3" onclick="window.location.href='AgregarCategoria.xhtml'">Agregar Categorias</button>
                        <button type="button" class="btn btn-light-blue btn-lg btn-block mb-3" onclick="window.location.href='AgregarSubCategoria.xhtml'">Agregar Subcategorias</button>
                    </div>
                </div>
            </div>
            <!--MDB Buttons-->
      
        </main>
    
        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/js/mdb.min.js"></script>
    </body>
    <ui:include src="footer.xhtml"></ui:include> 

</html>
