<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"      
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" 
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">  
    
    
    
    <h:head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
        <link rel="stylesheet" type="text/css" href="resources/css/styles.css"/>
        <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'/> 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
        <title>Agregar Subcategorias</title>
    </h:head>    
    
    <ui:include src="header.xhtml"></ui:include>
    <body>
        <div class="container mt-4" align="center"> 
        <div class="col-xs-4"></div>
        <div class="card bg-light mb-2">
        <div class="card-header" align="center">Agregar Subcategorias</div>
        <div class="card-body">
            <h:form>
                <div class="container mt-4" align="center"> 
                <div class="form-group row">
                    <label for="inputNombreSubcategoria" class="col-sm-2 col-form-label">Subcategoria:</label>
                    <div class="col-sm-3">
                        <p:inputText type="text" class="form-control" id="inputNombreSubcategoria" placeholder="Nombre de la Subcategoria" required="true" value="#{subcategoriaController.nombresubcategoria}" />
                    </div>
                    <label for="inputNombreCategoria" class="col-sm-2 col-form-label">Categoria a la que corresponde:</label>
                    <div class="col-sm-4">
                        <p:inputText type="text" class="form-control" id="inputNombreCategoria" placeholder="Nombre de la categoria" required="true" value="#{subcategoriaController.nombrecategoria}" />
                    </div>
                </div>
                
                <div class="form-group row">
                        <div class="col-sm-1">
                            <button type="submit" class="btn btn-primary btn-lg" jsf:action="#{subcategoriaController.addSubcategoria}">Agregar</button>
                        </div>
                </div>
                </div>
            </h:form>
        </div>
        </div>
        </div>
    </body>
    
    <ui:include src="footer.xhtml"></ui:include>
</html>