<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"      
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" 
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
         
      
    <h:head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
        <link rel="stylesheet" type="text/css" href="resources/css/styles.css"/>
        <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'/> 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
        <title>Bloquear cuenta</title>
        
    </h:head>    
    
    <ui:include src="header.xhtml"></ui:include>

    <body>
        <div class="col-xs-4">

        </div>
        <div class="card bg-light mb-2">
            <div class="card-header" align="center">Bloquear Cuenta</div>
            <div class="card-body">
                
                    <div class="container">
                        <h:form>
                        <section class="row">
                            <label for="inputId" class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-2">
                                    <p:inputText type="text" class="form-control" id="inputId" placeholder="Ingresa el numero de cuenta" required="true" value="#{BloquearCuentaController.noCuenta}"/>
                                </div>     

                                <div class="col-sm-4" align="right">
                                    <h:selectOneRadio value="#{BloquearCuentaController.usuario}" layout="pageDirection">
                                        <f:selectItem itemValue="Alumno" itemLabel="Alumno" />
                                        <f:selectItem itemValue="Profesor" itemLabel="Profesor" />
                                        </h:selectOneRadio>
                                </div>  
                        
                            <div class="col-md-4">
                            
<!--                            https://www.primefaces.org/showcase/ui/input/oneRadio.xhtml-->


                                <div class="col-sm-4" align="right">
                                    <h:selectOneRadio value="#{BloquearCuentaController.estado}" layout="pageDirection">
                                        <f:selectItem itemValue="Activo" itemLabel="Activo" />
                                        <f:selectItem itemValue="Bloqueado" itemLabel="Bloqueado" />
                                        </h:selectOneRadio>
                                </div>  
                            </div>
                        </section>
                    <div class="form-group row">
                        <div class="col-sm-3" align="right">
                            <button type="submit" class="btn btn-primary btn-lg" jsf:action="#{BloquearCuentaController.bloquearActivar}">Cambiar</button>
                        </div>
                    </div>
                        </h:form>        
                </div>
                <!-- <button type="button" class="btn btn-secondary mt-2 bouton-image monBouton fixed-bottom float-right"></button> -->
            </div>
        </div>
        
             
            
        
    </body>
    
    <ui:include src="footer.xhtml"></ui:include>
</html>




