<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"      
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" 
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
        <link rel="stylesheet" type="text/css" href="resources/css/styles.css"/>
        <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'/> 
        <title>Cella</title>
    </h:head>
    <ui:include src="navBar.xhtml"></ui:include>

    <h:body>
        <h:form style="margin-bottom: 100px; margin-right: 50px; margin-left: 50px; margin-top: 30px;" >
                      
            <h5>Resultados para #{homeController.busqueda}:</h5>
            <h:form style="margin-bottom: 100px; margin-right: 50px; margin-left: 50px; margin-top: 30px;" >
                <div class="card-columns">
                    <ui:repeat value="#{homeController.resultado}" var="item">
                        <div class="card" >
                            <div class="card-body">
                                <p:graphicImage value="#{homeController.miFoto}" width="120" height="150"/> 
                                
                                <h5 class="card-title" >#{item}</h5>
                              <!--  <h:inputText  value="/>
                                <button type="button" class="btn btn-primary btn-lg"   jsf:action="" onclick="window.location.href='ReservarMaterial.xhtml'">Ver mas ></button> -->  
                            </div>
                        </div>
                    </ui:repeat>  
                </div>
            </h:form>
                                 
              
        </h:form>
    </h:body>
    <ui:include src="footer.xhtml"></ui:include>

    
</html>
