<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"      
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" 
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:f ="http://java.sun.com/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
         
      
    <h:head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
        <link rel="stylesheet" type="text/css" href="resources/css/styles.css"/>
        <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'/> 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
        <title>Cambiar estado</title>
        <style>
            .bouton-image:before {
                content: "";
                width: 16px;
                height: 16px;
                display: inline-block;
                margin-right: 5px;
                vertical-align: text-top;
                background-color: transparent;
                background-position : center center;
                background-repeat:no-repeat;
            }
            .monBouton:before{
                background-image : url(https://image.flaticon.com/icons/svg/263/263085.svg);
                /*background-image : url(http://icons.iconarchive.com/icons/kyo-tux/soft/16/Back-icon.png);*/
            }
            .btnb{
                background-color: 31BD50;
                border: none;
                color: gray;
                padding: 16px 32px;
                text-align: center;
                font-size: 16px;
                margin: 4px 2px;
                opacity: 1;
                transition: 0.3s;
            }
            .btnb:hover {opacity: 2}
            .btnv {
                background-color: 31BD50;
                border: none;
                color: gray;
                padding: 16px 32px;
                text-align: center;
                font-size: 16px;
                margin: 4px 2px;
                opacity: 1;
                transition: 0.3s;
            }
            .btnv:hover {opacity: 2}
            #volver {
                position: fixed;
                bottom: -4px;
                right: 10px;
            }
        </style>
    </h:head>    
    
    <ui:include src="navBar_admin.xhtml"></ui:include>
    <body>
        <div class="container mt-4" align="center"> 
            <div class="card bg-light mb-2">
                <div class="card-header" align="center">Cambiar Estado Material </div>
                <div class="card-body">

                        <div class="container">
                            <h:form>
                            <section class="row">
                                <label for="inputId" class="col-sm-2 col-form-label"></label>
                                    <div class="col-sm-2">
                                        <p:inputText type="text" class="form-control" id="inputId" placeholder="Ingresa id del material" required="true" value="#{cambiarEdoMaterial.id}"/>
                                    </div>                     

                            <div class="col-md-4">

                                <div class="col-sm-4" align="right">
                                    <h:selectOneRadio value="#{cambiarEdoMaterial.estado}">
                                        <f:selectItem itemValue="en mantenimiento" itemLabel="en mantenimiento" />
                                        <f:selectItem itemValue="disponible" itemLabel="disponible" />
                                        <f:selectItem itemValue="no disponible" itemLabel="no disponible" />
                                        </h:selectOneRadio>
                                </div>  
    <!--                            <div class="btn-group-vertical float-right mt-2" role="group" >
                                    <button type="button" class="btn btn-primary mt-5">Disponible</button>
                                    <button type="button" class="btn btn-primary mt-2">Prestado</button>
                                    <button type="button" class="btn btn-primary mt-2">Dañado</button>
                                     <button type="button" class="btn btn-secondary mt-2 btn-sm bouton-image monBouton fixed-bottom"></button> 
                                </div>-->
                            </div>

                        </section>

                        <div class="form-group row">
                            <div class="col-sm-3" align="right">
                                <button type="submit" class="btn btn-primary btn-lg" jsf:action="#{cambiarEdoMaterial.cambiaEdo}">Agregar</button>
                            </div>
                        </div>
                            </h:form>        
                    </div>
                </div>

            </div>
            <h:form>   
                    <p:growl id="growl" life="2000" />

                    <p:commandLink id="agregar" onclick="window.location.href='AgregarMaterial.xhtml'" style="margin-right:20px;">
                        <h:outputText value="Agregar Materiales" />
                    </p:commandLink>

                    <p:commandLink id="ver" onclick="window.location.href='Materiales.xhtml'" style="margin-right:20px;" >
                        <h:outputText value="Ver Materiales" />
                    </p:commandLink>  

                    <p:commandLink id="eliminar" onclick="window.location.href='EliminarMaterial.xhtml'" style="margin-right:20px;" >
                        <h:outputText value="Eliminar Material" />
                    </p:commandLink> 
            </h:form>
        </div>     
            
        
    </body>
    
    <ui:include src="footer.xhtml"></ui:include>
</html>