<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  xmlns="http://www.w3.org/1999/xhtml"      
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" 
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
        <link rel="stylesheet" type="text/css" href="resources/css/styles.css"/>
        <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'/> 
      
        <title>Categorias </title>
        
    </h:head>
    <ui:include src="navBar.xhtml"></ui:include>
    <h:body>
    <div class="container mt-4" align="center">
        <h:form>

           <!-- <h:form id="altaKit" enctype="multipart/form-data">
           <section id="t-cards">
               <div class="container">
                   <div class="row">
                       <!Se empieza el "talero" de las muestras de los materiales.
                       Se muestra Categorias y Subcategorias
                       <div class="col-sm-4 col-md-4">
                           <div class="panel panel-default panel-card">
                               <div class="panel-heading">
                                   <Se selecciona la imagen representativa de la categoria
                                   <img class="card-img-top" src="resources/images/medicion.png"></img>   
                               </div>
                               <div class="panel-body text-center">
                                   <Se muestra el redireccionamiento 
                                   <h5 class="panel-header"><a href="Medicion.xhtml"> Medicion</a></h5>
                               </div>   
                           </div>     
                       </div>
                       <div class="col-sm-4 col-md-4">
                           <div class="panel panel-default panel-card">
                               <div class="panel-heading">
                                   <Se selecciona la imagen representativa de la categoria
                                   <img class="card-img-top" src="resources/images/madera.png"></img>    
                               </div>
                               <div class="panel-body text-center">
                                   <Se muestra el redireccionamiento
                                   <h5 class="panel-header"><a href="Madera.xhtml"> Madera</a></h5>
                               </div>
                           </div>
                       </div>
                       <div class="col-sm-4 col-md-4">
                           <div class="panel panel-default panel-card">
                               <div class="panel-heading">
                                   <Se selecciona la imagen representativa de la categoria
                                   <img class="card-img-top" src="resources/images/metal.png"></img>    
                               </div>
                               <div class="panel-body text-center">
                                   <Se muestra el redireccionamiento 
                                   <h5 class="panel-header"><a href="Metal.xhtml"> Metal</a></h5>
                               </div>
                           </div>
                       </div>
                       <div class="col-sm-4 col-md-4">
                           <div class="panel panel-default panel-card">
                               <div class="panel-heading">
                                   <Se selecciona la imagen representativa de la categoria
                                   <img class="card-img-top" src="resources/images/plastico.jpg"></img>    
                               </div>
                               <div class="panel-body text-center">
                                   <Se muestra el redireccionamiento 
                                   <h5 class="panel-header"><a href="Plastico.xhtml"> Plastico</a></h5>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>    
           </section>-->
           <p:dataGrid var="categoria" value="#{categoriaController.categorias}" columns="3" layout="grid">
                <f:facet name="header">
                    Categorias
                </f:facet>
                    <p:panel header="#{categoria.id}" style="text-align:center">
                        <h:panelGrid columns="1" style="width:100%">
                            <!--Se muestra el redireccionamiento de la pagina Materiales a Categoria-->
                            <h3>#{categoria.nombrecategoria}</h3>
                            <h:commandButton id="verSubcategoria" value="Subcategorias" action="#{vistaSeleccionMaterialController.outcomeSubcategoria}">
                                <f:setPropertyActionListener target="#{subcategoriaController.id}" value="#{categoria.id}" />
                            </h:commandButton>
                             <h:commandButton id="verMateriales" value="Materiales" action="#{vistaSeleccionMaterialController.outcomeMatCa}">
                                <f:setPropertyActionListener target="#{subcategoriaController.id}" value="#{categoria.id}" />
                            </h:commandButton>
                        </h:panelGrid>
                    </p:panel>
 
            </p:dataGrid>          

        </h:form>
    </div>
    </h:body>    
    <ui:include src="footer.xhtml"></ui:include>
</html>
