<html xmlns="http://www.w3.org/1999/xhtml"      
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" 
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">    
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
        <link rel="stylesheet" type="text/css" href="resources/css/styles.css"/>
        <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'/> 
       
    </head> 
    <ui:include src="navBar_admin.xhtml"/>
        
    <body class="hm-gradient" >
        <!--<main>-->
            
            <!--MDB Buttons-->
            <!--<div class="container text-center mt-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <button type="button" class="btn btn-indigo btn-lg btn-block mb-3" onclick="window.location.href='AgregarCategoria.xhtml'">Agregar Categorias</button>
                        <button type="button" class="btn btn-light-blue btn-lg btn-block mb-3" onclick="window.location.href='AgregarMaterial.xhtml'">Agregar Materiales</button>
                        <button type="button" class="btn btn-default btn-lg btn-block mb-3" onclick="window.location.href='EliminarMaterial.xhtml'">Eliminar Material</button>
                        <button type="button" class="btn btn-pink btn-lg btn-block mb-3" onclick="window.location.href='CambiarEdoMaterial.xhtml'">Cambiar Estado de Material</button>
                    </div>
                </div>
            </div>-->
            <!--MDB Buttons-->    
            
        <section id="t-cards " align="center">
           <div class="container card-columns" align="center">
               <div class="card-columns" align="center">
                   <!--Se empieza el "talero" de las muestras de los materiales.
                   Se muestra Categorias y Subcategorias-->
                    
                       <div class="panel panel-default panel-card">
                           <div class="panel-heading">
                               <!--Se selecciona la imagen representativa de la categoria-->
                               <img class="card-img-top" src="resources/images/categorias.png"></img>
                               
                           </div>
                           <div class="panel-body text-center">
                               <!--Se muestra el redireccionamiento de la pagina Materiales a Categoria-->
                               <h5 class="panel-header"><a href="Categorias.xhtml">Lista Categorias</a></h5>
                           </div>   
                       </div>     
                    
                    
                       <div class="panel panel-default panel-card">
                           <div class="panel-heading">
                               <!--Se selecciona la imagen representativa de la categoria-->
                               <img class="card-img-top" src="resources/images/lista.jpg"></img>    
                           </div>
                           <div class="panel-body text-center">
                               <!--Se muestra el redireccionamiento de la pagina Materiales a Subategoria-->
                               <h5 class="panel-header"><a href="Materiales.xhtml">Lista Materiales</a></h5>
                           </div>
                       </div>
                   
                    
                       <div class="panel panel-default panel-card">
                           <div class="panel-heading">
                               <!--Se selecciona la imagen representativa de la categoria-->
                               <img class="card-img-top" src="resources/images/usuarios.jpg"></img>    
                           </div>
                           <div class="panel-body text-center">
                               <!--Se muestra el redireccionamiento de la pagina Materiales a Subategoria-->
                               <h5 class="panel-header"><a href="Usuarios.xhtml">Lista Usuarios</a></h5>
                           </div>
                       </div>
                   
                   
                       <div class="panel panel-default panel-card">
                           <div class="panel-heading">
                               <!--Se selecciona la imagen representativa de la categoria-->
                               <img class="card-img-top" src="resources/images/+categorias.png"></img>    
                           </div>
                           <div class="panel-body text-center">
                               <!--Se muestra el redireccionamiento de la pagina Materiales a Subategoria-->
                               <h5 class="panel-header"><a href="AgregarCategoria.xhtml">Agregar Categoria</a></h5>
                           </div>
                       </div>
                    
                       <div class="panel panel-default panel-card">
                           <div class="panel-heading">
                               <!--Se selecciona la imagen representativa de la categoria-->
                               <img class="card-img-top" src="resources/images/subcategorias.png"></img>    
                           </div>
                           <div class="panel-body text-center">
                               <!--Se muestra el redireccionamiento de la pagina Materiales a Subategoria-->
                               <h5 class="panel-header"><a href="AgregarSubCategoria.xhtml">Agregar Sub-categoria</a></h5>
                           </div>
                       </div>
                   
                       <div class="panel panel-default panel-card">
                           <div class="panel-heading">
                               <!--Se selecciona la imagen representativa de la categoria-->
                               <img class="card-img-top" src="resources/images/+materiales.png"></img>    
                           </div>
                           <div class="panel-body text-center">
                               <!--Se muestra el redireccionamiento de la pagina Materiales a Subategoria-->
                               <h5 class="panel-header"><a href="AgregarMaterial.xhtml">Agregar Material</a></h5>
                           </div>
                       </div>
                   
                       <div class="panel panel-default panel-card">
                           <div class="panel-heading">
                               <!--Se selecciona la imagen representativa de la categoria-->
                               <img class="card-img-top" src="resources/images/-material.png"></img>    
                           </div>
                           <div class="panel-body text-center">
                               <!--Se muestra el redireccionamiento de la pagina Materiales a Subategoria-->
                               <h5 class="panel-header"><a href="EliminarMaterial.xhtml">Eliminar Material</a></h5>
                           </div>
                       </div>
                    
                       <div class="panel panel-default panel-card">
                           <div class="panel-heading">
                               <!--Se selecciona la imagen representativa de la categoria-->
                               <img class="card-img-top" src="resources/images/cambiar.png"></img>    
                           </div>
                           <div class="panel-body text-center">
                               <!--Se muestra el redireccionamiento de la pagina Materiales a Subategoria-->
                               <h5 class="panel-header"><a href="CambiarEdoMaterial.xhtml">Cambiar Estado Material</a></h5>
                           </div>
                       </div>
                   
                       <div class="panel panel-default panel-card">
                           <div class="panel-heading">
                               <!--Se selecciona la imagen representativa de la categoria-->
                               <img class="card-img-top" src="resources/images/conectar.png"></img>    
                           </div>
                           <div class="panel-body text-center">
                               <!--Se muestra el redireccionamiento de la pagina Materiales a Subategoria-->
                               <h5 class="panel-header"><a href="ItegrarCategorias.xhtml">Conectar Categorias con Materiales</a></h5>
                           </div>
                       </div>
                   
               </div>
           </div>    
       </section>    
    
        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/js/mdb.min.js"></script>
    </body>
    <ui:include src="footer.xhtml"></ui:include>   
</html>