<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"      
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" 
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
        <link rel="stylesheet" type="text/css" href="resources/css/styles.css"/>
        <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'/> 
        <title>Cella</title>
    </h:head>
    <ui:include src="navBar.xhtml"></ui:include>
    

    

    <h:body>
        <!--<h:form style="margin-bottom: 100px; margin-right: 50px; margin-left: 50px; margin-top: 30px;" >
            <div class="card-columns">
                <ui:repeat value="#{busquedaController.resultado}" var="item">
                    <div class="card" >
                        <div class="card-body">
                            <img class="card-img-top" src="resources/images/microscopio.jpg" width="100" height="180" alt="Card image cap"></img>
                            <h5 class="card-title">#{item}</h5>
                            <button type="submit" class="btn btn-primary btn-lg" >Ver mas ></button>
                        </div>
                    </div>
                </ui:repeat>  
            </div>
        </h:form>-->
        
        
       <!-- <h:form id="altaKit" enctype="multipart/form-data">-->
       <section id="t-cards">
           <div class="container">
               <div class="row">
                   <!--Se empieza el "talero" de las muestras de los materiales.
                   Se muestra Categorias y Subcategorias-->
                   <div class="col-sm-4 col-md-4">
                       <div class="panel panel-default panel-card">
                           <div class="panel-heading">
                               <!--Se selecciona la imagen representativa de la categoria-->
                               <img class="card-img-top" src="resources/images/categoria.jpg"></img>
                               
                           </div>
                           <div class="panel-body text-center">
                               <!--Se muestra el redireccionamiento de la pagina Materiales a Categoria-->
                               <h5 class="panel-header"><a href="Categoria.xhtml"> Categorias</a></h5>
                           </div>   
                       </div>     
                   </div>
                   <div class="col-sm-4 col-md-4">
                       <div class="panel panel-default panel-card">
                           <div class="panel-heading">
                               <!--Se selecciona la imagen representativa de la categoria-->
                               <img class="card-img-top" src="resources/images/subcategoria.jpg"></img>    
                           </div>
                           <div class="panel-body text-center">
                               <!--Se muestra el redireccionamiento de la pagina Materiales a Subategoria-->
                               <h5 class="panel-header"><a href="Subcategoria.xhtml"> Subcategorias</a></h5>
                           </div>
                       </div>
                   </div>
               </div>
           </div>    
       </section>
    </h:body>
    <ui:include src="footer.xhtml"></ui:include>

    
</html>
