<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"      
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" 
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
         
      
    <h:head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
        <title>Crear Kit </title>
    </h:head>    
    
    <ui:include src="navBar.xhtml"></ui:include>
    
    <h:body>
         <div class="container mt-4" align="center"> 
        <h:form>
         
            <p:growl id="growl" sticky="true" showDetail="true"/>

                <p:wizard flowListener="#{kitController.onFlowProcess}">
                    <p:tab id="elegirnombre" title="Elegir Nombre">
                        <p:panel header="Crear Kit">
                            <p:messages />
                            <h:panelGrid columns="2" columnClasses="label, value">
                                <h:outputText value="Nombre kit: *" />
                                <p:inputText value="#{kitController.kit.nombrekit}" required="true" label="nombrecategoria"/>  
                                <h:outputText value="Saltar al final: " />
                                <h:selectBooleanCheckbox value="#{kitController.skip}" />
                            </h:panelGrid>
                        </p:panel>
                    </p:tab>
                    <p:tab id="elegirmateria" title="Elegir materia">
                        <p:panel header="Asignar Materia">
                            <p:messages />
                            <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5" columnClasses="label, value">
                                <h:outputText value="Nombre de la materia: *" />
                                <p:inputText value="#{kitController.kit.materia}" required="true" label="nombresubcategoria"/>  
                            </h:panelGrid>
                        </p:panel>
                    </p:tab>
                    <p:tab id="confirm" title="Confirmar">
                        <p:panel header="Confirmation">
                            <h:panelGrid id="confirmation" columns="3" columnClasses="grid,grid,grid">
                                <h:panelGrid columns="2" columnClasses="label, value">
                                    <h:outputText value="Nombre: " />
                                    <h:outputText value="#{kitController.kit.nombrekit}" styleClass="outputLabel"/>
 
                                    <h:outputText value="Materia: " />
                                    <h:outputText value="#{kitController.kit.materia}" styleClass="outputLabel"/>
                                </h:panelGrid>
                            </h:panelGrid> 
                                
                            <h:commandButton id="verSubcategoria" value="Crear" action="#{kitController.crearKit()}" onclick="">
                                    <f:setPropertyActionListener target="#{kitController.nombreKit}" value="#{kitController.kit.nombrekit}" />
                            </h:commandButton>
                               
                               
                        </p:panel>
                        
                            
                    </p:tab>
                </p:wizard>
        </h:form> 
        </div>
    </h:body>
    
    <ui:include src="footer.xhtml"></ui:include>
</html>



