<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="./css/default.css"/>
        <h:outputStylesheet name="./css/cssLayout.css"/>
        <title>Datos Prestamo</title>
    </h:head>

    <h:body>
        
        <p:outputPanel  deferred="true" id="content">
            <h2>Datos del Prestamo</h2>
            <h5>Nombre material:
                <h:outputText value="#{unidadmaterialController.prestamo.idUnidadMaterial.nombrematerial}"/>
            </h5>
            <h5>Id del material:
                <h:outputText value="#{unidadmaterialController.prestamo.idUnidadMaterial.id}"/> 
            </h5>
            <h5>Id prestamo: <h:outputText value="#{unidadmaterialController.prestamo.id}"/> </h5>
            <h5>Fecha inicio: </h5>
            <h:outputText value="#{unidadmaterialController.prestamo.fechainicio}">
                <f:convertDateTime type="date" pattern="dd/mm/yyyy"/>
            </h:outputText>
        </p:outputPanel>
        <div style="height:60px"></div>
        <h:form>
            <p:commandButton value="Imprimir" type="button" icon="pi pi-print" style="display:block;margin-bottom: 20px">
                <p:printer target="content" />
            </p:commandButton>   
            <p:commandButton value="Terminar"  onclick="window.location.href='Cella.xhtml'"></p:commandButton>
        </h:form>
        

    </h:body>

</html>
