<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"      
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" 
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">    
    <h:head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
        <link rel="stylesheet" type="text/css" href="resources/css/styles.css"/>
        <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'/> 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
        <link rel="stylesheet" type="text/css" href="resources/css/styles.css"/>
        <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'/> 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
        <title>Eliminar Material </title>
    </h:head>    
    
    <ui:include src="navBar_admin.xhtml"></ui:include>
    <body>
        
        <div class="container mt-4" align="center">
            <div class="card bg-light mb-2">
                <div class="card-header"> Eliminar Material </div>
                <h:form>
                    <div class="form-group row">
                        <label for="inputName3" class="col-sm-2 col-form-label" >ID material:</label>
                        <div class="col-sm-2">
                            <br></br>
                            <p:inputText type="text" class="form-control" id="inputName3" placeholder="id material" required="true" value="#{eliminarmaterialController.id}"/>
                            
                        </div>   
                    </div>
                    <div class="form-group row" >
                        <div class="col-sm-3" >
                            <button type="submit" class="btn btn-primary btn-lg" jsf:action="#{eliminarmaterialController.removeUnidadMaterial}">Eliminar</button>
                        </div>
                    </div>
                </h:form>    
            </div>
            <h:form>   
                    <p:growl id="growl" life="2000" />

                    <p:commandLink id="agregar" onclick="window.location.href='AgregarMaterial.xhtml'" style="margin-right:20px;">
                        <h:outputText value="Agregar Materiales" />
                    </p:commandLink>

                    <p:commandLink id="ver" onclick="window.location.href='Materiales.xhtml'" style="margin-right:20px;" >
                        <h:outputText value="Ver Materiales" />
                    </p:commandLink>  

                    <p:commandLink id="cambiar" onclick="window.location.href='CambiarEdoMaterial.xhtml'" style="margin-right:20px;" >
                        <h:outputText value="Cambiar Estado Materiales" />
                    </p:commandLink> 
            </h:form>
        </div>    
    </body>
    
    <ui:include src="footer.xhtml"></ui:include>
</html>