<html xmlns="http://www.w3.org/1999/xhtml"      
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" 
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">    
   
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/> 
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    </head>
       <!-- Image and text -->

    <ui:include src="navBar_usuario.xhtml"></ui:include> 
    <body class="cloudy-knoxville-gradient">
        <main>
            <div class="row align-items-center" style="min-height: calc(100vh - 66px);">
                <div class="col-lg-6 mx-auto">
                    <p class="text-center darken-grey-text mb-4">Que material estas buscando?</p>
                    <h:form>
                        <div class="input-group">
                            <h:inputText value="#{busquedaController.busqueda}"/>
                                <span class="input-group-btn">
                                    <button class="btn tempting-azure-gradient" type="submit" jsf:action="#{busquedaController.loadResultBusqueda}">Buscar</button>
                                </span>
                        </div>
                        
                    </h:form> 
                    <h:form style="margin-bottom: 100px; margin-right: 50px; margin-left: 50px; margin-top: 30px;" >
                    <div class="card-columns">
                        <ui:repeat value="#{busquedaController.resultado}" var="item">
                            <div class="card" >
                                <div class="card-body">
                                    <img class="card-img-top" src="resources/images/microscopio.jpg" width="100" height="180" alt="Card image cap"></img>
                                    <h5 class="card-title">#{item}</h5>
                                    <button type="submit" class="btn btn-primary btn-lg" >Ver mas ></button>
                                </div>
                            </div>
                        </ui:repeat>  
                    </div>
                    </h:form>

                </div>
            </div>

        </main>
        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/js/mdb.min.js"></script>        
    </body>
    <ui:include src="footer.xhtml"></ui:include>   
</html>



