<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"      
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" 
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">    
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
        <link rel="stylesheet" type="text/css" href="resources/css/styles.css"/>
        <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'/> 
        
        <title>Iniciar Sesion</title>
    </head>
    <ui:include src="header.xhtml"></ui:include>    
    <body>
        <div class="col-xs-4">

        </div>
        <div class="card bg-light mb-2">
            <div class="card-header" align="center">Iniciar Sesion</div>
            <div class="card-body">
                <h:form>
                    <div class="form-group row ">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Correo</label>
                        <div class="col-sm-3">
                            <p:inputText type="email" class="form-control" id="inputEmail3" placeholder="@ciencias.unam.mx" value="#{inicioSesion.email}"/>
                        </div>

                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-2 col-form-label">Contraseña</label>
                        <div class="col-sm-3">
                            <p:inputText type="password" class="form-control" id="inputPassword3" placeholder="contraseña" value="#{inicioSesion.pass}"/>
                        </div>
                    </div>
                    <div class="custom-control  form-group row custom-checkbox">
                        <div class="col-sm-4" align="right">
                            <p:inputText type="checkbox" class="custom-control-input" id="customCheck1"/>
                            <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>    
                        </div>

                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3" align="right">
                            <button type="submit" class="btn btn-primary" jsf:action="#{inicioSesion.canLogin}">Iniciar Sesion</button>
                        </div>
                    </div>
                </h:form>      
            </div>
        </div>
        <div class="col-xs-4">

        </div>
    </body>
    <ui:include src="footer.xhtml"></ui:include>    
</html>




