<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"      
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" 
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
        <link rel="stylesheet" type="text/css" href="resources/css/Principal.css"/>
        <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'/>
        <style>
            body {
                background-image: url("https://unsplash.com/photos/UqyHjOgYxYY");
            }
        </style>
        <title>Cella</title>
    </h:head>
    
     <ui:include src="header.xhtml"></ui:include>

    <h:body>
        <h:form id="inicio" enctype="multipart/form-data"> 
            <div style="position: absolute; left: 50%; top: 50%;transform: translate(-50%, -50%);">
                <div class="form-group opciones" style="align-items: center;justify-content: center; display: flex;">
                    <button style="width: 500px;" type="submit" class="btn btn-primary" jsf:action="#{principalController.redireccionaInicioSesion()}">Iniciar Sesion</button>
                </div>    
                <div class="form-group opciones" style="align-items: center;justify-content: center; display: flex;">
                    <button style="width: 500px; background: white; border-color: blue; color: blue; " type="submit" class="btn btn-primary"  jsf:action="#{principalController.redireccionaRegistro()}">Registrar</button>
                </div>
            </div>    
        </h:form>

    </h:body>
     
    <ui:include src="footer.xhtml"></ui:include>


</html>
