<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:jsf="http://xmlns.jcp.org/jsf">

    <h:head>
        <style type="text/css">
    .label {
        width:20%;
        padding:4px;
    }
 
    .value {
        width:80%;
        padding:4px;
    }
 
    .grid {
        width:100%;
    }
 
    .error {
        color: red;
    }
 
    .outputLabel {
        font-weight: bold;
    }
 
    .grid {
        width:33%;
        padding:4px;
    }
</style>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
        <link rel="stylesheet" type="text/css" href="resources/css/styles.css"/>
        <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'/>  
        
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
     
        <title>Agregar Materiales a Categorias</title>
    </h:head>
    <ui:include src="navBar_admin.xhtml"></ui:include>
    <h:body>
        <div class="container mt-4" align="center"> 
        <h:form>
         
            <p:growl id="growl" sticky="true" showDetail="true"/>

                <p:wizard flowListener="#{integrarCategoria.onFlowProcess}">
                    <p:tab id="elegircategoria" title="Elegir Categoria">
                        <p:panel header="Elegir Categoria">
                            <p:messages />
                            <h:panelGrid columns="2" columnClasses="label, value">
                                <h:outputText value="Nombre categoria: *" />
                                <p:inputText value="#{integrarCategoria.categoria.nombrecategoria}" required="true" label="nombrecategoria"/>  
                                <h:outputText value="Skip to last: " />
                                <h:selectBooleanCheckbox value="#{integrarCategoria.skip}" />
                            </h:panelGrid>
                        </p:panel>
                    </p:tab>
                    <p:tab id="elegirsubcategoria" title="Elegir Subcategoria">
                        <p:panel header="Elegir Subcategoria">
                            <p:messages />
                            <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5" columnClasses="label, value">
                                <h:outputText value="Nombre subcategoria: *" />
                                <p:inputText value="#{integrarCategoria.subcategoria.nombresubcategoria}" required="true" label="nombresubcategoria"/>  
                            </h:panelGrid>
                        </p:panel>
                    </p:tab>
                    <p:tab id="confirm" title="Seleccionar">
                        <p:panel header="Seleccionar Materiales">
                            <p:messages />
                            <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5" columnClasses="label, value">
                            
                                <h:outputText value="Id material: *" />
                                <p:inputText value="#{integrarCategoria.id}" required="true" label="idmaterial"/>  
                            
                            </h:panelGrid> 
                            <h:commandButton value="Guardar" action="#{integrarCategoria.crearRelacion()}"/>
                               
                               
                        </p:panel>
                        
                            
                    </p:tab>
                </p:wizard>
        </h:form> 
        </div>
        <hr></hr>
        <p:panelGrid columns="3" layout="grid"> 
            <h:form id="form1">
            <p:growl id="msgs" showDetail="true" />
 
            <p:dataTable id="basicDT" var="categoria" value="#{vistaSeleccionCategoriaController.categorias}">
                <f:facet name="header">
                    Subcategorias
                </f:facet>
                <p:column headerText="Id">
                    <h:outputText value="#{categoria.id}" />
                </p:column>
                <p:column headerText="Nombre">
                    <h:outputText value="#{categoria.nombrecategoria}" />
                </p:column>
                <p:column headerText="Descripcion">
                    <h:outputText value="#{categoria.descripcion}" />
                </p:column>
                <p:column style="width:32px;text-align: center">
                    <p:commandButton update=":form1:categoriaDetail" oncomplete="PF('categoriaDialog').show()" icon="pi pi-search" title="View">
                        <f:setPropertyActionListener value="#{categoria}" target="#{vistaSeleccionCategoriaController.seleccion}" />
                    </p:commandButton>
                </p:column>
            </p:dataTable>
            
            <p:dialog header="Detalles" widgetVar="categoriaDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                <p:outputPanel id="categoriaDetail" style="text-align:center;">
                    <p:panelGrid  columns="2" rendered="#{not empty vistaSeleccionCategoriaController.seleccion}" columnClasses="label,value">
                        <f:facet name="header">
                            <p:graphicImage name="resources/images/#{vistaSeleccionCategoriaController.seleccion.nombrecategoria}.png"/> 
                            <h:outputText value="Nombre:" />
                            <h:outputText value="#{vistaSeleccionCategoriaController.seleccion.nombrecategoria}" />
                        </f:facet>

                        <h:outputText value="Id:" />
                        <h:outputText value="#{vistaSeleccionCategoriaController.seleccion.id}" />

                        <h:outputText value="Descripcion:" />
                        <h:outputText value="#{vistaSeleccionCategoriaController.seleccion.descripcion}"/>
                    </p:panelGrid>
                </p:outputPanel>
            </p:dialog>
        </h:form>   
        <h:form id="form2">
            <p:growl id="msgs" showDetail="true" />
 
            <p:dataTable id="basicDT" var="subcategoria" value="#{vistaSeleccionSubcategoriasController.subcategorias}">
                <f:facet name="header">
                    Subcategorias
                </f:facet>
                <p:column headerText="Id">
                    <h:outputText value="#{subcategoria.id}" />
                </p:column>
                <p:column headerText="Nombre">
                    <h:outputText value="#{subcategoria.nombresubcategoria}" />
                </p:column>
                <p:column style="width:32px;text-align: center">
                    <p:commandButton update=":form2:subcategoriaDetail" oncomplete="PF('subcategoriaDialog').show()" icon="pi pi-search" title="View">
                        <f:setPropertyActionListener value="#{subcategoria}" target="#{vistaSeleccionSubcategoriasController.seleccion}" />
                    </p:commandButton>
                </p:column>
            </p:dataTable>
            
            <p:dialog header="Detalles" widgetVar="subcategoriaDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                <p:outputPanel id="subcategoriaDetail" style="text-align:center;">
                    <p:panelGrid  columns="2" rendered="#{not empty vistaSeleccionSubcategoriasController.seleccion}" columnClasses="label,value">
                        <f:facet name="header">
                            <p:graphicImage name="resources/images/#{vistaSeleccionSubcategoriasController.seleccion.nombresubcategoria}.png"/> 
                            <h:outputText value="Nombre:" />
                            <h:outputText value="#{vistaSeleccionSubcategoriasController.seleccion.nombresubcategoria}" />
                        </f:facet>

                        <h:outputText value="Id:" />
                        <h:outputText value="#{vistaSeleccionSubcategoriasController.seleccion.id}" />

                        <h:outputText value="Categoria padre:" />
                        <h:outputText value="#{vistaSeleccionSubcategoriasController.seleccion.nombrecategoria}"/>
                    </p:panelGrid>
                </p:outputPanel>
            </p:dialog>
        </h:form>
        <h:form id="form3" >
                <p:growl id="msgs" showDetail="true" />

                <p:dataTable id="materiales" var="material" value="#{vistaSeleccionMaterialController.materiales}" rowKey="#{material.id}" 
                              selection="#{vistaSeleccionMaterialController.seleccion}" selectionMode="single" 
                              editable="true" editMode="cell" widgetVar="cellMateriales"
                              paginator="true"
                              reflow="true"
                              paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                              rowsPerPageTemplate="5,10,15">
                    <f:facet name="header">
                        Materiales
                    </f:facet>
                    <p:ajax event="cellEdit" listener="#{vistaSeleccionMaterialController.onCellEdit}" update=":form3:msgs" />
                    <p:column headerText="Id">
                        <h:outputText value="#{material.id}" />
                    </p:column>
                    <p:column headerText="Nombre">
                        <h:outputText value="#{material.nombrematerial}" />
                    </p:column>
                    <p:column headerText="Descripcion">
                        <h:outputText value="#{material.idMaterial.descripcion}" />
                    </p:column>
                    <p:column headerText="Disponibilidad">
                        <p:cellEditor>
                            <f:facet name="output"><h:outputText value="#{material.estado}" /></f:facet>
                            <f:facet name="input">
                                <h:selectOneMenu value="#{vistaSeleccionMaterialController.estado}" style="width:100%">
                                    <f:selectItems value="#{vistaSeleccionMaterialController.estados}" var="man" itemLabel="#{man}" itemValue="#{man}"/>   
                                </h:selectOneMenu>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column >
                        <p:column style="width:32px;text-align: center">
                            <p:commandButton update=":form3:materialDetail" oncomplete="PF('materialDialog').show()" icon="pi pi-search" title="View">
                                <f:setPropertyActionListener value="#{material}" target="#{vistaSeleccionMaterialController.seleccion}" />
                            </p:commandButton>
                </p:column>
                    </p:column>
                </p:dataTable>

                <p:contextMenu for="materiales">
                    <p:menuitem value="Ver" update="materialDetail" icon="pi pi-search" oncomplete="PF('materialDialog').show()"/>
                    <p:menuitem value="Cambiar" update="materiales" icon="pi pi-times" action="#{vistaSeleccionMaterialController.cambiarEdo()}"/>
                </p:contextMenu>

                <p:dialog header="Detalles" widgetVar="materialDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                    <p:outputPanel id="materialDetail" style="text-align:center;">
                        <p:panelGrid  columns="2" rendered="#{not empty vistaSeleccionMaterialController.seleccion}" columnClasses="label,value">
                            <f:facet name="header">
                                <p:graphicImage name="resources/images/#{vistaSeleccionMaterialController.seleccion.nombrematerial}.png"/> 
                                <h:outputText value="Nombre:" />
                                <h:outputText value="#{vistaSeleccionMaterialController.seleccion.nombrematerial}" />
                            </f:facet>

                            <h:outputText value="Id:" />
                            <h:outputText value="#{vistaSeleccionMaterialController.seleccion.id}" />

                            <h:outputText value="Descripcion:" />
                            <h:outputText value="#{vistaSeleccionMaterialController.seleccion.idMaterial.descripcion}"/>

                            <h:outputText value="Disponibilidad:" />
                            <h:outputText value="#{vistaSeleccionMaterialController.seleccion.estado}"/>
                        </p:panelGrid>
                    </p:outputPanel>
                </p:dialog>
            </h:form> 
        </p:panelGrid>    
    </h:body>

</html>
