<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"      
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" 
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> 
        <title>Llenar Kits</title>
    </h:head>

    <h:body>

         <div class="container mt-4" align="center"> 
        <h:form>
         
            <p:growl id="growl" sticky="true" showDetail="true"/>

                <p:wizard flowListener="#{kitController.onFlowProcess}">
                    <p:tab id="elegirnombre" title="Elegir Nombrre">
                        <p:panel header="Crear Kit">
                            <p:messages />
                            <h:panelGrid columns="2" columnClasses="label, value">
                                <h:outputText value="Nombre kit: *" />
                                <p:inputText value="#{kitController.kit.nombrekit}" required="true" label="#{kitController.nombreKit}"/>  
                                <h:outputText value="Saltar al final: " />
                                <h:selectBooleanCheckbox value="#{kitController.skip}" />
                            </h:panelGrid>
                        </p:panel>
                    </p:tab>
                    <p:tab id="seleccionar" title="Seleccionar">
                        <p:panel header="Seleccionar Materiales">
                            <p:messages />
                            <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5" columnClasses="label, value">
                            
                                <h:outputText value="Id material: *" />
                                <p:inputText value="#{kitController.material.id}" required="true" label="idmaterial"/> 
                            </h:panelGrid>    
                        </p:panel>
                    </p:tab>
                    <p:tab id="confirm" title="Confirmar">
                        <p:panel header="Confirmation">
                            <h:panelGrid id="confirmation" columns="3" columnClasses="grid,grid,grid">
                                <h:panelGrid columns="2" columnClasses="label, value">
                                    <h:outputText value="Nombre: " />
                                    <h:outputText value="#{kitController.kit.nombrekit}" styleClass="outputLabel"/>
 
                                    <h:outputText value="ID Material: " />
                                    <h:outputText value="#{kitController.material.id}" styleClass="outputLabel"/>
                                </h:panelGrid> 
                            </h:panelGrid>
                            <h:commandButton id="verSubcategoria" value="Crear" action="#{kitController.llenarKit()}" onclick="">
                                    <f:setPropertyActionListener target="#{kitController.nombreKit}" value="#{kitController.kit.nombrekit}" />
                            </h:commandButton>
                       </p:panel>
                   </p:tab>
                </p:wizard>
        </h:form> 
        </div>

    </h:body>

</html>
