<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  xmlns="http://www.w3.org/1999/xhtml"      
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" 
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
        <link rel="stylesheet" type="text/css" href="resources/css/styles.css"/>
        <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'/> 
        <title>Materiales</title>
        
    </h:head>
    <ui:include src="navBar.xhtml"></ui:include>

       <!-- <h:form id="altaKit" enctype="multipart/form-data">
       <section id="t-cards">
           <div class="container">
               <div class="row">
                   <!Se empieza el "talero" de las muestras de los materiales.
                   Se muestra Categorias y Subcategorias
                   <div class="col-sm-4 col-md-4">
                       <div class="panel panel-default panel-card">
                           <div class="panel-heading">
                               <Se selecciona la imagen representativa de la categoria
                               <img class="card-img-top" src="resources/images/medicion.png"></img>   
                           </div>
                           <div class="panel-body text-center">
                               <Se muestra el redireccionamiento 
                               <h5 class="panel-header"><a href="Medicion.xhtml"> Medicion</a></h5>
                           </div>   
                       </div>     
                   </div>
                   <div class="col-sm-4 col-md-4">
                       <div class="panel panel-default panel-card">
                           <div class="panel-heading">
                               <Se selecciona la imagen representativa de la categoria
                               <img class="card-img-top" src="resources/images/madera.png"></img>    
                           </div>
                           <div class="panel-body text-center">
                               <Se muestra el redireccionamiento
                               <h5 class="panel-header"><a href="Madera.xhtml"> Madera</a></h5>
                           </div>
                       </div>
                   </div>
                   <div class="col-sm-4 col-md-4">
                       <div class="panel panel-default panel-card">
                           <div class="panel-heading">
                               <Se selecciona la imagen representativa de la categoria
                               <img class="card-img-top" src="resources/images/metal.png"></img>    
                           </div>
                           <div class="panel-body text-center">
                               <Se muestra el redireccionamiento 
                               <h5 class="panel-header"><a href="Metal.xhtml"> Metal</a></h5>
                           </div>
                       </div>
                   </div>
                   <div class="col-sm-4 col-md-4">
                       <div class="panel panel-default panel-card">
                           <div class="panel-heading">
                               <Se selecciona la imagen representativa de la categoria
                               <img class="card-img-top" src="resources/images/plastico.jpg"></img>    
                           </div>
                           <div class="panel-body text-center">
                               <Se muestra el redireccionamiento 
                               <h5 class="panel-header"><a href="Plastico.xhtml"> Plastico</a></h5>
                           </div>
                       </div>
                   </div>
               </div>
           </div>    
       </section>-->
       <!--<div class="card-columns">
                <ui:repeat value="" var="item">
                    <div class="card" >
                        <div class="card-body">
                            <img class="card-img-top" src="resources/images/material.jpg" width="100" height="180" alt="Card image cap"></img>
                            <div class="panel-body text-center">-->
                               <!--Se muestra el redireccionamiento de la pagina Materiales a Categoria-->
                               <!--<h5 class="panel-header"><a href="Material.xhtml"></a></h5>
                            </div>-->
                            <!--<button type="submit" class="btn btn-primary btn-lg" >Solicitar</button>-->
                        <!--</div>
                    </div>
                </ui:repeat>  
        </div>-->
            <h:body>            
                <div class="container mt-4 " align="center">        
                    <h:form id="form">
                        <p:dataGrid var="material" value="#{vistaSeleccionMaterialController.materiales}" columns="3" layout="grid"
                        rows="12" paginator="true" id="materiales"
                        paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                        rowsPerPageTemplate="6,12,16">

                            <f:facet name="header">
                                Materiales disponibles
                            </f:facet>

                            <p:panel header="#{material.id}" style="text-align:center">
                                <h:panelGrid columns="1" style="width:100%">
                                    <p:graphicImage name="Cella/src/main/webapp/resources/images/#{material.nombrematerial}.png"/> 

                                    <h:outputText value="#{material.nombrematerial}" />

                                    <p:commandLink update=":form:materialDetail" oncomplete="PF('materialDialog').show()" title="Ver detalles">
                                        <h:outputText value="ver" styleClass="pi pi-search" style="margin:0 auto;"/>
                                        <f:setPropertyActionListener value="#{material}" target="#{vistaSeleccionMaterialController.seleccion}" />
                                    </p:commandLink>
                                    <h:commandButton value="Reservar" 
                                                     disabled="#{material.estado eq 'en mantenimiento' or material.estado eq 'no disponible'}" 
                                                 action="#{unidadmaterialController.prestarUnidad()}"
                                                 actionListener="#{vistaSeleccionMaterialController.detallePrestamo(actionEvent,material)}">
                                        <f:param name="materialId" value="#{material.id}"/>
                                        
                                    </h:commandButton>
                                        
                                </h:panelGrid>
                            </p:panel>

                        </p:dataGrid>

                        <p:dialog header="Detalles" widgetVar="materialDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                            <p:outputPanel id="materialDetail" style="text-align:center;">
                                <p:panelGrid  columns="2" rendered="#{not empty vistaSeleccionMaterialController.seleccion}" columnClasses="label,value">
                                    <f:facet name="header">
                                        <p:graphicImage name="/resources/images/#{vistaSeleccionMaterialController.seleccion.nombrematerial}.png"/> 
                                    </f:facet>

                                    <h:outputText value="Id:" />
                                    <h:outputText value="#{vistaSeleccionMaterialController.seleccion.id}" />

                                    <h:outputText value="Nombre" />
                                    <h:outputText value="#{vistaSeleccionMaterialController.seleccion.nombrematerial}" />

                                    <h:outputText value="Descripcion:" />
                                    <h:outputText value="#{vistaSeleccionMaterialController.seleccion.idMaterial.descripcion}"/>

                                    <h:outputText value="Disponibilidad" />
                                    <h:outputText value="#{vistaSeleccionMaterialController.seleccion.estado}" />


                                </p:panelGrid>
                                
                            </p:outputPanel>
                        </p:dialog>
                    </h:form> 
                </div>
            </h:body>            
    <ui:include src="footer.xhtml"></ui:include>
</html>