<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:jsf="http://xmlns.jcp.org/jsf">

    <h:head>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
        <link rel="stylesheet" type="text/css" href="resources/css/styles.css"/>
        <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'/>  
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <style type="text/css">
                 
            .value {
                font-weight: bold;
            }
     
            .ui-datatable {
                margin-bottom: 25px;
                   
            }
     
            .ui-datatable .ui-datatable-footer {
                text-align:left;
            }
     
            .ui-datalist ul {
                padding: 0 0 0 10px;
                margin: 5px 0;
                
            }
     
            .ui-datatable .ui-button-icon-only .ui-button-text {
                padding: 0.5;
                line-height: 1.2;
            }
            
        </style>
        <title>Materiales</title>
    </h:head>

    <ui:include src="navBar_admin.xhtml"></ui:include> 
    <h:body>
        <div class="container mt-4 " align="center">
            <h:form id="form" >
                <p:growl id="msgs" showDetail="true" />

                <p:dataTable id="materiales" var="material" value="#{vistaSeleccionMaterialController.materiales}" rowKey="#{material.id}" 
                              selection="#{vistaSeleccionMaterialController.seleccion}" selectionMode="single" 
                              editable="true" editMode="cell" widgetVar="cellMateriales"
                              paginator="true"
                              reflow="true"
                              paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                              rowsPerPageTemplate="5,10,15">
                    <f:facet name="header">
                        Materiales
                    </f:facet>
                    <p:ajax event="cellEdit" listener="#{vistaSeleccionMaterialController.onCellEdit}" update=":form:msgs" />
                    <p:column headerText="Id">
                        <h:outputText value="#{material.id}" />
                    </p:column>
                    <p:column headerText="Nombre">
                        <h:outputText value="#{material.nombrematerial}" />
                    </p:column>
                    <p:column headerText="Descripcion">
                        <h:outputText value="#{material.idMaterial.descripcion}" />
                    </p:column>
                    <p:column headerText="Disponibilidad">
                        <p:cellEditor>
                            <f:facet name="output"><h:outputText value="#{material.estado}" /></f:facet>
                            <f:facet name="input">
                                <h:selectOneMenu value="#{vistaSeleccionMaterialController.estado}" style="width:100%">
                                    <f:selectItems value="#{vistaSeleccionMaterialController.estados}" var="man" itemLabel="#{man}" itemValue="#{man}"/>   
                                </h:selectOneMenu>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column >
                        <h:commandButton id="eliminar" value="Eliminar" action="#{unidadmaterialController.eliminarUnidad()}" actionListener="#{vistaSeleccionMaterialController.eliminar(e)}">
                            <f:param name="materialId" value="#{material.id}" />
                        </h:commandButton>
                    </p:column>
                </p:dataTable>

                <p:contextMenu for="materiales">
                    <p:menuitem value="Ver" update="materialDetail" icon="pi pi-search" oncomplete="PF('materialDialog').show()"/>
                    <p:menuitem value="Cambiar" update="materiales" icon="pi pi-times" action="#{vistaSeleccionMaterialController.cambiarEdo()}"/>
                </p:contextMenu>

                <p:dialog header="Detalles" widgetVar="materialDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                    <p:outputPanel id="materialDetail" style="text-align:center;">
                        <p:panelGrid  columns="2" rendered="#{not empty vistaSeleccionMaterialController.seleccion}" columnClasses="label,value">
                            <f:facet name="header">
                                <p:graphicImage name="resources/images/#{vistaSeleccionMaterialController.seleccion.nombrematerial}.png"/> 
                                <h:outputText value="Nombre:" />
                                <h:outputText value="#{vistaSeleccionMaterialController.seleccion.nombrematerial}" />
                            </f:facet>

                            <h:outputText value="Id:" />
                            <h:outputText value="#{vistaSeleccionMaterialController.seleccion.id}" />

                            <h:outputText value="Descripcion:" />
                            <h:outputText value="#{vistaSeleccionMaterialController.seleccion.idMaterial.descripcion}"/>

                            <h:outputText value="Disponibilidad:" />
                            <h:outputText value="#{vistaSeleccionMaterialController.seleccion.estado}"/>
                        </p:panelGrid>
                    </p:outputPanel>
                </p:dialog>
            </h:form>
            <h:form>   
                <p:growl id="growl" life="2000" />

                <p:commandLink id="agregar" onclick="window.location.href='AgregarMaterial.xhtml'" style="margin-right:20px;">
                    <h:outputText value="Agregar Materiales" />
                </p:commandLink>

                <p:commandLink id="cambiar" onclick="window.location.href='CambiarEdoMaterial.xhtml'" style="margin-right:20px;" >
                    <h:outputText value="Cambiar Estado Materiales" />
                </p:commandLink>  
                
                <p:commandLink id="eliminar" onclick="window.location.href='EliminarMaterial.xhtml'" style="margin-right:20px;" >
                    <h:outputText value="Eliminar Material" />
                </p:commandLink> 
            </h:form>
        </div>   
    </h:body>
    <ui:include src="footer.xhtml"></ui:include>
</html>
