<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> 
        <title>Materiales de Categoria</title>
    </h:head>
    <ui:include src="navBar.xhtml"></ui:include>
    <h:body>
        <h:form>
            <div class="container mt-4" align="center">  
            <p:dataGrid var="material" value="#{subcategoriaController.initFiltrados()}" columns="3" layout="grid">
                <f:facet name="header">
                    Materiales  
                </f:facet>
                    <p:panel header="#{material.id}" style="text-align:center">
                        <h:panelGrid columns="1" style="width:100%">
                            <!--Se muestra el redireccionamiento de la pagina Materiales a Categoria-->
                            <h4>#{material.nombrematerial}</h4>
                        </h:panelGrid>
                    </p:panel>
 
            </p:dataGrid>
            <p:link outcome="Material" value="Ver Unidades de Material"/>    
            </div>    
        </h:form>    
        

    </h:body>

</html>
