<html xmlns="http://www.w3.org/1999/xhtml"      
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" 
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">    
    
    <head>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        
    </head>

     <nav class="navbar navbar-inverse">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-3">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="Cella.xhtml">
            <img src="resources/images/cella.jpg" width="30" height="30" class="d-inline-block align-top"/>
            Cella
        </a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-3">
          <ul class="nav navbar-nav navbar-right">
            <li>
                    <a  href="Cella.xhtml">Principal</a>
            </li>
            <li>
                    <a  href="Material.xhtml">Materiales</a>
            </li>
            <c:if test="#{inicioSesion.rol == 3}">
                    <li>
                        <a href="CrearKits.xhtml">Crear Kit</a>
                    </li>
            </c:if> 
            <li>
                <!--  <p:graphicImage value="#{inicioSesion.miFoto}" width="50" height="50" /> #{inicioSesion.alum.correo} -->

                <a href="Perfil.xhtml">#{inicioSesion.email} <p:graphicImage value="#{inicioSesion.miFoto}" width="30" height="30" /></a> 
            </li>
            <li>
                <h:form class="form-inline my-2 my-lg-0">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" jsf:action="#{inicioSesion.logout}" >Log Out</button>
                </h:form>
            </li> 
            
            <li>
              <a class="btn btn-default btn-outline btn-circle"  data-toggle="collapse" href="#nav-collapse3" aria-expanded="false" aria-controls="nav-collapse3">Buscar</a>
            </li>
          </ul>
          <div class="collapse nav navbar-nav nav-collapse" id="nav-collapse3">
            <form class="navbar-form navbar-right" role="search">
              <div class="form-group">
                <h:inputText value="#{homeController.busqueda}" />
              </div>
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit" jsf:action="#{homeController.loadResultBusqueda()}"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </form>
          </div>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->

</html>
