<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"      
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" 
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
       
        <title>Facelets Template</title>
    </h:head>
    
    <ui:include src="navBar.xhtml"></ui:include>

    
    <h:body>

        <h5>#{editarPerfil.inicioSesionRol.rol}</h5>
       
       
        <p:graphicImage value="#{inicioSesion.miFoto}" width="100" height="100"/>
        
        <h:form id="altaForm" enctype="multipart/form-data">   
            <tr>
                <td>Cambiar fotografia</td>
                
                <td><p:fileUpload value="#{editarPerfil.fotografia}" mode="simple" skinSimple="true"
                                  fileUploadListener="#{editarPerfil.fileUploadListener}" /></td>
            </tr>
            
            <div class="form-group row">
                    <div class="col-sm-3" align="right">
                       
                        <button type="submit" class="btn btn-primary btn-lg" jsf:action="#{editarPerfil.addFoto(inicioSesion.id)}">Terminar</button>

                    </div>
            </div>
        </h:form>
    </h:body>   
    
    <ui:include src="footer.xhtml"></ui:include>

</html>
