<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  xmlns="http://www.w3.org/1999/xhtml"      
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" 
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css"/>
        <title>Calorimetro </title>
        
    </h:head>
    <ui:include src="navBarAlumno.xhtml"></ui:include>
    <h:body style="margin-bottom: 100px;">

        <div id="top" class="top">
            <ui:insert name="top">#{inicioSesion.email}</ui:insert>
        </div>
       <!-- <h:form id="altaKit" enctype="multipart/form-data">-->
       <div class="media block-update-card">
           <a class="pull-left" href="#">
               <img class="card-img-top" src="resources/images/user.jpg"></img>   
           </a>
           <div class="media-body update-card-body">
               <h1 class="media-heading">Yessica Janeth Pablo Martinez</h1>
                <h3>Correo: yessica@ciencias.unam.mx</h3>
                <h4> Estudiante de Biologia.</h4>
                <button class="btn btn-primary btn-lg" role="button">Editar Perfil</button>
           </div>
       </div>
    </h:body>
    <ui:include src="footer.xhtml"></ui:include>
</html>