<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"      
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" 
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    
   
    <h:head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
        <!--<link rel="stylesheet" type="text/css" href="resources/css/SeleccionarMateriales.css"/>-->
        <title>#{verKit.nombreKit}</title>
    </h:head>
    <ui:include src="navBar.xhtml"></ui:include>
    
    
    <h:body>
        <h3>#{verKit.nombreKit}</h3>    
           
        <div class="col-md-4">
                
            <ui:repeat value="#{verKit.seleccionados}" var="item">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">#{item}</h5>
                              
                    </div>
                </div>
            </ui:repeat>
                                               
        </div>   
           
              
        
    </h:body>
    <ui:include src="footer.xhtml"></ui:include>

    
</html>
