<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"      
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" 
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
        <title>Cella</title>
    </h:head>
    <ui:include src="navBar.xhtml"></ui:include>

    <h:body >

        <h:form style="margin-bottom: 100px; margin-right: 50px; margin-left: 50px; margin-top: 30px;" >
            <div class="card-columns" >
                    <div class="card" >
                        <div class="card-body" >
                            <img class="card-img-top" src="resources/images/microscopio.jpg" width="100" height="180" alt="Card image cap"></img>
                            <c:set var="nombrematerial" value="#{vistaMaterialController.nombreMaterial}"/>
                            <h5 class="card-title" >#{nombrematerial}</h5>
                            <h6>#{vistaMaterialController.descripcion}</h6> 
                        </div>
                    </div>  
            </div>
        </h:form>

    </h:body>

</html>
