<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  xmlns="http://www.w3.org/1999/xhtml"      
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" 
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
        <!--<link rel="stylesheet" type="text/css" href="resources/css/SeleccionarMateriales.css"/>-->
        <title>Selecciona Material </title>
        
    </h:head>
    <ui:include src="navBar.xhtml"></ui:include>
    <h:body style="margin-bottom: 100px;">

        <div id="top" class="top">
            <ui:insert name="top">#{inicioSesion.email}</ui:insert>
        </div>
        <h:form id="altaKit" enctype="multipart/form-data">
        <!--<section class="container">
            
            
            <div class="card-group">
                <div class="card">
                    <img class="card-img-top" src="resources/images/mechero.jpg" alt="Card image cap"></img>
                    <div class="card-body">
                        <h5 class="card-title">Mechero</h5>
                        <f:selectItem itemLabel="Mechero" itemValue="Mechero" />
                    </div>
                </div>
            
                <div class="card">
                    <img class="card-img-top" src="resources/images/microscopio.jpg" alt="Card image cap"></img>
                    <div class="card-body">
                        <h5 class="card-title">Microscopio</h5>
                        <input type="checkbox" id="cbox1" value="#{kitController.seleccionados}"> Agregar</input>
                    </div>
                </div>
                
                <div class="card">
                    <img class="card-img-top" src="resources/images/tubo.jpg" alt="Card image cap"></img>
                    <div class="card-body">
                        <h5 class="card-title">Tubo de ensayo</h5>
                        <input type="checkbox" id="cbox1" value="#{kitController.seleccionados}"> Agregar</input>
                    </div>
                </div>
            </div>
            </p:selectManyCheckbox>
        </section> -->
       
        
        
        <!--
        <p:selectManyCheckbox id="basic" value="#{kitController.seleccionados}">
            <f:selectItem itemLabel="Xbox One" itemValue="Xbox One" />
            <f:selectItem itemLabel="PS4" itemValue="PS4" />
            <f:selectItem itemLabel="Wii U" itemValue="Wii U" />
        </p:selectManyCheckbox> 
        -->
        
        <!-- <ui:repeat value="#{kitController.materiales}" var="item">-->
                    
                
        <p:selectManyCheckbox id="grid2" value="#{kitController.seleccionados}" layout="pageDirection" columns="3">
            <!--<f:selectItems itemLabel="#{item}" itemValue="#{item}" />-->
            <f:selectItems value="#{kitController.materiales}" var="city" itemLabelEscaped="false" itemLabel="#{city} &lt; img src=&quot;;/&gt;" itemValue="#{city}" />
            
            
        </p:selectManyCheckbox>
        
            
        <div class="form-group row">
            <div class="col-sm-3" align="right">
                            
                <button type="submit" class="btn btn-primary btn-lg" jsf:action="#{kitController.crearKit()}">Terminar</button>
            </div>
        </div>
        </h:form>
       

    </h:body>
    <ui:include src="footer.xhtml"></ui:include>
</html>
