<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  xmlns="http://www.w3.org/1999/xhtml"      
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" 
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> 
        <title>Subcategorias </title>
        
    </h:head>
    <ui:include src="navBar.xhtml"></ui:include>
    <h:body>
    <h:form>
        
       <!-- <h:form id="altaKit" enctype="multipart/form-data">
       <section id="t-cards">
           <div class="container">
               <div class="row">
                   <!Se empieza el "talero" de las muestras de los materiales.
                   Se muestra Categorias y Subcategorias
                   <div class="col-sm-4 col-md-4">
                       <div class="panel panel-default panel-card">
                           <div class="panel-heading">
                               <Se selecciona la imagen representativa de la categoria
                               <img class="card-img-top" src="resources/images/medicion.png"></img>   
                           </div>
                           <div class="panel-body text-center">
                               <Se muestra el redireccionamiento 
                               <h5 class="panel-header"><a href="Medicion.xhtml"> Medicion</a></h5>
                           </div>   
                       </div>     
                   </div>
                   <div class="col-sm-4 col-md-4">
                       <div class="panel panel-default panel-card">
                           <div class="panel-heading">
                               <Se selecciona la imagen representativa de la categoria
                               <img class="card-img-top" src="resources/images/madera.png"></img>    
                           </div>
                           <div class="panel-body text-center">
                               <Se muestra el redireccionamiento
                               <h5 class="panel-header"><a href="Madera.xhtml"> Madera</a></h5>
                           </div>
                       </div>
                   </div>
                   <div class="col-sm-4 col-md-4">
                       <div class="panel panel-default panel-card">
                           <div class="panel-heading">
                               <Se selecciona la imagen representativa de la categoria
                               <img class="card-img-top" src="resources/images/metal.png"></img>    
                           </div>
                           <div class="panel-body text-center">
                               <Se muestra el redireccionamiento 
                               <h5 class="panel-header"><a href="Metal.xhtml"> Metal</a></h5>
                           </div>
                       </div>
                   </div>
                   <div class="col-sm-4 col-md-4">
                       <div class="panel panel-default panel-card">
                           <div class="panel-heading">
                               <Se selecciona la imagen representativa de la categoria
                               <img class="card-img-top" src="resources/images/plastico.jpg"></img>    
                           </div>
                           <div class="panel-body text-center">
                               <Se muestra el redireccionamiento 
                               <h5 class="panel-header"><a href="Plastico.xhtml"> Plastico</a></h5>
                           </div>
                       </div>
                   </div>
               </div>
           </div>    
       </section>-->  
       <div class="container mt-4" align="center">  
       
           <p:dataGrid var="subcategoria" value="#{subcategoriaController.initFiltradas()}" columns="3" layout="grid">
                <f:facet name="header">
                    Subcategorias  
                </f:facet>
                    <p:panel header="#{subcategoria.id}" style="text-align:center">
                        <h:panelGrid columns="1" style="width:100%">
                            <!--Se muestra el redireccionamiento de la pagina Materiales a Categoria-->
                            <h4>#{subcategoria.nombresubcategoria}</h4>
                        </h:panelGrid>
                    </p:panel>
           </p:dataGrid>
           <p:link outcome="Material" value="Ver Unidades de Material"/> 
        </div>                
    </h:form>
        
    </h:body>       
    <ui:include src="footer.xhtml"></ui:include>
</html>

