<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <style type="text/css">
            .value {
                font-weight: bold;
            }
     
            .ui-datatable {
                margin-bottom: 25px
            }
     
            .ui-datatable .ui-datatable-footer {
                text-align:left;
            }
     
            .ui-datalist ul {
                padding: 0 0 0 10px;
                margin: 5px 0;
            }
     
            .ui-datatable .ui-button-icon-only .ui-button-text {
                padding: 0;
                line-height: 1.2;
            }
        </style>
        <title>Subcategorias</title>
    </h:head>

    <ui:include src="navBar_admin.xhtml"></ui:include> 
    <h:body>

        <h:form id="form">
            <p:growl id="msgs" showDetail="true" />
 
            <p:dataTable id="basicDT" var="subcategoria" value="#{vistaSeleccionSubcategoriasController.subcategorias}">
                <f:facet name="header">
                    Subcategorias
                </f:facet>
                <p:column headerText="Id">
                    <h:outputText value="#{subcategoria.id}" />
                </p:column>
                <p:column headerText="Nombre">
                    <h:outputText value="#{subcategoria.nombresubcategoria}" />
                </p:column>
                <p:column style="width:32px;text-align: center">
                    <p:commandButton update=":form:subcategoriaDetail" oncomplete="PF('subcategoriaDialog').show()" icon="pi pi-search" title="View">
                        <f:setPropertyActionListener value="#{subcategoria}" target="#{vistaSeleccionSubcategoriasController.seleccion}" />
                    </p:commandButton>
                </p:column>
            </p:dataTable>
            
            <p:dialog header="Detalles" widgetVar="subcategoriaDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                <p:outputPanel id="subcategoriaDetail" style="text-align:center;">
                    <p:panelGrid  columns="2" rendered="#{not empty vistaSeleccionSubcategoriasController.seleccion}" columnClasses="label,value">
                        <f:facet name="header">
                            <p:graphicImage name="resources/images/#{vistaSeleccionSubcategoriasController.seleccion.nombresubcategoria}.png"/> 
                            <h:outputText value="Nombre:" />
                            <h:outputText value="#{vistaSeleccionSubcategoriasController.seleccion.nombresubcategoria}" />
                        </f:facet>

                        <h:outputText value="Id:" />
                        <h:outputText value="#{vistaSeleccionSubcategoriasController.seleccion.id}" />

                        <h:outputText value="Categoria padre:" />
                        <h:outputText value="#{vistaSeleccionSubcategoriasController.seleccion.nombrecategoria}"/>
                    </p:panelGrid>
                </p:outputPanel>
            </p:dialog>
        </h:form>   
    </h:body>
</html>
