<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <style type="text/css">
            .value {
                font-weight: bold;
            }
     
            .ui-datatable {
                margin-bottom: 25px
            }
     
            .ui-datatable .ui-datatable-footer {
                text-align:left;
            }
     
            .ui-datalist ul {
                padding: 0 0 0 10px;
                margin: 5px 0;
            }
     
            .ui-datatable .ui-button-icon-only .ui-button-text {
                padding: 0;
                line-height: 1.2;
            }
        </style>
        <title>Usuarios</title>
    </h:head>

    <ui:include src="navBar_admin.xhtml"></ui:include> 
    <h:body>
        <div class="container mt-4" align="center"> 
        <h:form id="form">
            <p:growl id="msgs" showDetail="true" />
 
            <p:dataTable id="basicAlum" var="alumno" value="#{vistaSeleccionAlumnoController.alumnos}" rowKey="#{alumno.id}"
                         selection="#{vistaSeleccionAlumnoController.seleccion}" selectionMode="single" >
                <f:facet name="header">
                    Alumnos
                </f:facet>
                <p:column headerText="Id">
                    <h:outputText value="#{alumno.id}" />
                </p:column>
                <p:column headerText="Nombre">
                    <h:outputText value="#{alumno.apellidop} #{alumno.apellidom} #{alumno.nombre}" />
                </p:column>
                <p:column headerText="Usuario">
                    <h:outputText value="#{alumno.nombreusuario}" />
                </p:column>
                <p:column headerText="Estado de cuenta">
                    <h:outputText value="#{alumno.edocuenta}" />
                </p:column>
                <p:column headerText="Bloquear?">
                    <h:form>
                        <p:selectBooleanButton  id="valor" value="#{vistaSeleccionAlumnoController.valor}" onLabel="Si" offLabel="No" style="width:100px" />
                    </h:form>
                    <h:commandButton value="ok" action="#{vistaSeleccionAlumnoController.bloquear()}"/>
                </p:column>
                
            </p:dataTable>
            
            <p:contextMenu for="basicAlum">
                    <p:menuitem value="Ver" update="alumnoDetail" icon="pi pi-search" oncomplete="PF('alumnoDialog').show()"/>
                    <p:menuitem value="Cambiar" update="basicAlum" icon="pi pi-times" action="#{vistaSeleccionAlumnoController.bloquear()}"/>
            </p:contextMenu>
            
            <p:dialog header="Detalles" widgetVar="alumnoDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                <p:outputPanel id="alumnoDetail" style="text-align:center;">
                    <p:panelGrid  columns="2" rendered="#{not empty vistaSeleccionAlumnoController.seleccion}" columnClasses="label,value">
                        <f:facet name="header">
                            <p:graphicImage name="resources/images/#{vistaSeleccionAlumnoController.seleccion.nombreusuario}.png"/> 
                            <h:outputText value="Usuario:" />
                            <h:outputText value="#{vistaSeleccionAlumnoController.seleccion.nombreusuario}" />
                        </f:facet>

                        <h:outputText value="Id:" />
                        <h:outputText value="#{vistaSeleccionAlumnoController.seleccion.id}" />

                        <h:outputText value="Nombre:" />
                        <h:outputText value="#{vistaSeleccionAlumnoController.seleccion.apellidop} #{vistaSeleccionAlumnoController.seleccion.apellidom} #{vistaSeleccionAlumnoController.seleccion.nombre}"/>
                    
                        <h:outputText value="Correo:" />
                        <h:outputText value="#{vistaSeleccionAlumnoController.seleccion.correo}" />
                    
                        <h:outputText value="Estado de la cuenta:" />
                        <h:outputText value="#{vistaSeleccionAlumnoController.seleccion.edocuenta}" />
                    </p:panelGrid>
                </p:outputPanel>
            </p:dialog>
            
            <p:dataTable id="basicProf" var="profesor" value="#{vistaSeleccionProfesorController.profesores}" rowKey="#{profesor.id}"
                         selection="#{vistaSeleccionProfesorController.seleccion}" selectionMode="single">
                <f:facet name="header">
                    Profesores
                </f:facet>
                <p:column headerText="Id">
                    <h:outputText value="#{profesor.id}" />
                </p:column>
                <p:column headerText="Nombre">
                    <h:outputText value="#{profesor.apellidop} #{profesor.apellidom} #{profesor.nombre}" />
                </p:column>
                <p:column headerText="Usuario">
                    <h:outputText value="#{profesor.nombreusuario}" />
                </p:column>
                <p:column headerText="RFC">
                    <h:outputText value="#{profesor.rfc}" />
                </p:column>
                <p:column headerText="Estado de cuenta">
                    <h:outputText value="#{profesor.edocuenta}" />
                </p:column>
                <p:column style="width:32px;text-align: center">
                    <p:commandButton update=":form:profesorDetail" oncomplete="PF('profesorDialog').show()" icon="pi pi-search" title="View">
                        <f:setPropertyActionListener value="#{profesor}" target="#{vistaSeleccionProfesorController.seleccion}" />
                    </p:commandButton>
                </p:column>
                <p:column headerText="Bloquear?">
                    <h:form >
                        <p:selectBooleanButton  id="valor" value="#{vistaSeleccionProfesorController.valor}" onLabel="Si" offLabel="No" style="width:100px" />
                    </h:form>
                    <h:commandButton value="ok" action="#{vistaSeleccionProfesorController.bloquear()}"/>
                </p:column>
            </p:dataTable>
            
            <p:dialog header="Detalles" widgetVar="profesorDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                <p:outputPanel id="profesorDetail" style="text-align:center;">
                    <p:panelGrid  columns="2" rendered="#{not empty vistaSeleccionProfesorController.seleccion}" columnClasses="label,value">
                        <f:facet name="header">
                            <p:graphicImage name="resources/images/#{vistaSeleccionProfesorController.seleccion.nombreusuario}.png"/> 
                            <h:outputText value="Usuario:" />
                            <h:outputText value="#{vistaSeleccionProfesorController.seleccion.nombreusuario}" />
                        </f:facet>

                        <h:outputText value="Id:" />
                        <h:outputText value="#{vistaSeleccionProfesorController.seleccion.id}" />

                        <h:outputText value="Nombre:" />
                        <h:outputText value="#{vistaSeleccionProfesorController.seleccion.apellidop} #{vistaSeleccionProfesorController.seleccion.apellidom} #{vistaSeleccionProfesorController.seleccion.nombre}"/>
                    
                        <h:outputText value="RFC:" />
                        <h:outputText value="#{vistaSeleccionProfesorController.seleccion.rfc}" />
                        
                        <h:outputText value="Correo:" />
                        <h:outputText value="#{vistaSeleccionProfesorController.seleccion.correo}" />
                    
                        <h:outputText value="Estado de la ceunta:" />
                        <h:outputText value="#{vistaSeleccionProfesorController.seleccion.edocuenta}" />
                    </p:panelGrid>
                </p:outputPanel>
            </p:dialog>
            
            <p:dataTable id="basicAdmin" var="admin" value="#{vistaSeleccionAdminController.admins}">
                <f:facet name="header">
                    Administradores
                </f:facet>
                <p:column headerText="Id">
                    <h:outputText value="#{admin.id}" />
                </p:column>
                <p:column headerText="Nombre">
                    <h:outputText value="#{admin.apellidop} #{admin.apellidom} #{admin.nombre}" />
                </p:column>
                <p:column headerText="Usuario">
                    <h:outputText value="#{admin.nombreusuario}" />
                </p:column>
                <p:column headerText="RFC">
                    <h:outputText value="#{admin.rfc}" />
                </p:column>
                <p:column style="width:32px;text-align: center">
                    <p:commandButton update=":form:adminDetail" oncomplete="PF('adminDialog').show()" icon="pi pi-search" title="View">
                        <f:setPropertyActionListener value="#{admin}" target="#{vistaSeleccionAdminController.seleccion}" />
                    </p:commandButton>
                </p:column>
            </p:dataTable>
            
            <p:dialog header="Detalles" widgetVar="adminDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                <p:outputPanel id="adminDetail" style="text-align:center;">
                    <p:panelGrid  columns="2" rendered="#{not empty vistaSeleccionAdminController.seleccion}" columnClasses="label,value">
                        <f:facet name="header">
                            <p:graphicImage name="resources/images/#{vistaSeleccionAdminController.seleccion.nombreusuario}.png"/> 
                            <h:outputText value="Usuario:" />
                            <h:outputText value="#{vistaSeleccionAdminController.seleccion.nombreusuario}" />
                        </f:facet>

                        <h:outputText value="Id:" />
                        <h:outputText value="#{vistaSeleccionAdminController.seleccion.id}" />

                        <h:outputText value="Nombre:" />
                        <h:outputText value="#{vistaSeleccionAdminController.seleccion.apellidop} #{vistaSeleccionAdminController.seleccion.apellidom} #{vistaSeleccionAdminController.seleccion.nombre}"/>
                    
                        <h:outputText value="RFC:" />
                        <h:outputText value="#{vistaSeleccionAdminController.seleccion.rfc}" />
                        
                        <h:outputText value="Correo:" />
                        <h:outputText value="#{vistaSeleccionAdminController.seleccion.correo}" />
                    </p:panelGrid>
                </p:outputPanel>
            </p:dialog>
        </h:form>
        </div>    
    </h:body>
</html>
